## Modify for this component's purpose
## EACH FILE CONTAINS ONLY ONE SERVICE DEFINITION
## MULTIPLE SERVICES CAN BE DEFINED IN MULTIPLE FILES 

service {
  name = "{{ project_id }}-TEMPLATE"
  tags = [ "TEMPLATE" ]
  port = 80
}
