## Modify for this component's purpose
## EACH FILE CONTAINS ONLY ONE SERVICE DEFINITION
## MULTIPLE SERVICES CAN BE DEFINED IN MULTIPLE FILES 

service {
  name = "{{ host_id }}-{{ project_id }}-TEMPLATE"
  tags = [ "TEMPLATE" ]
  port = SERVICE_PORT
}
